mat-card {
  height: 200px;
  width: 180px;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
}
