<div class="main">
  <div class="left-container">
    <img src="assets/design.png" alt="">
  </div>
  <div class="right-container">
    <mat-card class="login mat-elevation-z5">
      <span class="title"><mat-icon>phone_iphone</mat-icon>dh tech</span>
      <form action="">

        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>email</mat-label>
          <input matInput/>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>senha</mat-label>
          <input matInput type="password"/>
        </mat-form-field>

      </form>
      <button mat-raised-button color="accent" routerLink="/orders">Acessar</button>
      <a href="#create-account">Não possuo cadastro</a>
      <a href="#forgot-password">Esqueci minha senha</a>
    </mat-card>
  </div>
</div>
