.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
}
.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  max-width: 1200px;
  overflow: auto;
}
.header {
  width: 100%;
}
