mat-form-field {
  width: 400px;
}
button {
  margin-left: auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
mat-radio-button {
  padding-right: 5px;
}
.contato {
  display: flex;
  flex-direction: row;
}
.meio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}
