.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: large;
  padding-bottom: 10px;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
