<div class="nav mat-elevation-z2">
  <div class="menu">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <a mat-menu-item (click)="ordersPage()"><mat-icon>shopping_cart</mat-icon>Pedidos</a>
          <a mat-menu-item (click)="productsPage()"><mat-icon>local_mall</mat-icon>Produtos</a>
          <a mat-menu-item (click)="clientsPage()"><mat-icon>people_alt</mat-icon>Clientes</a>
          <a mat-menu-item (click)="usersPage()"><mat-icon>assignment_ind</mat-icon>Usuários</a>
        </mat-menu>
  </div>
  <div class="logo">
      <mat-icon>app_settings_alt</mat-icon>
  </div>
</div>
